/*vertical nagivation bar - https://www.w3schools.com/css/css_navbar_vertical.asp */
/*Horizontal Navigation Bar - https://www.w3schools.com/css/css_navbar_horizontal.asp */

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    background-color: #f1f1f1;
    width: 100%;
    z-index: 1;
    top: 0;
}

.menu {
    margin-top: 40px;
}

    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    /* .menu li allows us to make the menu bar horizontal */
    .menu li {
        float: left;
    }

    .menu li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }

    .menu li a:hover {
        background-color: #555;
        color: white;
    }

    .menu li a.active {
        background-color: #555;
        color: white;
    }

.home-page-main-content {
    display: flex;
    width: 100vw;
}
    .picture {
        flex: 1;
        background-color: none;
    }


    .introduction {
        flex: 1;
        background-color: gray;
    }